core-drawer-panel:not([narrow]) #navicon {
    display: none;
}

#button-bar {
    z-index: 1;
    float: right;
    top: 10px;
    right: 10px;
    position: absolute;
}
.bb-button {
    
}
core-toolbar, paper-button[raised] {
background: #3F51B5;
color: white;
}

paper-button {
background: #E8EAF6
}

#mode-buttons {
width: 52px;
right: 0;
float: right;
top: 135px;
position: absolute;
}
#mode-buttons paper-icon-button {
    border: solid 2px black;
    border-radius: 3px;
}
#idicon {
float: right;
color: white;
top: 6px;
right: 12px;
}

#login {
    float: right;

top: 6px;

}

html /deep/  #login {
    right: 6px;
     height: 150px;
}

html /deep/ paper-dialog {
   
    width: 300px;
}

html /deep/   #layerlist {
 right: 6px;
 top: 64px;
}